![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 3-MODUL. MA'LUMOTLARGA ISHLOV BERISH
## 3.3.1 Multi indekslash

### Kerakli kutubxonalarni chaqirib olish

In [1]:
import pandas as pd
import numpy as np

### `Hierarchical indexing`

In [2]:
data = pd.Series(np.random.randn(9),
                 index=['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd']) # odatiy indeksli Ser
data.index

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

In [3]:
data1 = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]]) # irarxik indeksli Ser
data1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

### Ma'lumotlarni ajratib olish

In [4]:
data1

a  1    1.593442
   2    1.395677
   3   -0.728598
b  1    0.033068
   3    1.385926
c  1    0.179418
   2   -0.777202
d  2    1.221983
   3    0.787450
dtype: float64

In [5]:
data1['a'] # subset bilan ajratib olish

1    1.593442
2    1.395677
3   -0.728598
dtype: float64

In [6]:
data1['c':'d'] # c dan d gacha bo'lgan qismin ajratib beradi

c  1    0.179418
   2   -0.777202
d  2    1.221983
   3    0.787450
dtype: float64

In [8]:
data1.loc[:, 2] # barcha 2-indeksdagi ma'lumotlarni ajratib beradi

a    1.395677
c   -0.777202
d    1.221983
dtype: float64

In [9]:
data1.loc[['b', 'd']] # barcha b va d indeksdagi elementlar

b  1    0.033068
   3    1.385926
d  2    1.221983
   3    0.787450
dtype: float64

### `unstack`

In [10]:
data1

a  1    1.593442
   2    1.395677
   3   -0.728598
b  1    0.033068
   3    1.385926
c  1    0.179418
   2   -0.777202
d  2    1.221983
   3    0.787450
dtype: float64

In [11]:
data1.unstack() # sochilgan Ser.ni df ko'rinishida qaytaradi

          1         2         3
a  1.593442  1.395677 -0.728598
b  0.033068       NaN  1.385926
c  0.179418 -0.777202       NaN
d       NaN  1.221983  0.787450

### `stack`

In [12]:
data1.unstack().stack() # df.ni yi'gilgan Ser.ga o'giradi

a  1    1.593442
   2    1.395677
   3   -0.728598
b  1    0.033068
   3    1.385926
c  1    0.179418
   2   -0.777202
d  2    1.221983
   3    0.787450
dtype: float64

### Dunyo shaharlarining havo va suv sifati ma'lumotlari ustida amallar bajarish

In [13]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git # Githubdagi reponi nusxalab oladi

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (60/60), 20.24 MiB | 20.34 MiB/s, done.
Resolving deltas: 100% (17/17), done.

In [14]:
df = pd.read_csv("/content/Practicum_Datasets/world_cities_air_water_quality.csv")
df

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3963 entries, 0 to 3962
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3963 non-null   object
 1    "Region"          3963 non-null   object
 2    "Country"         3963 non-null   object
 3    "AirQuality"      3963 non-null   float64
 4    "WaterPollution"  3963 non-null   float64
dtypes: float64(2), object(3)
memory usage: 154.9+ KB

In [16]:
columns = ['City', 'Region', 'Country', 'AirQuality', 'WaterPollution']
df.columns = columns
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [17]:
df['Region'] = df['Region'].map(lambda x: x.replace('"', "")) # Region ustuniga tegishli ma'lumotlardan " belgisini olib tashlash
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,"""United States of America""",46.816038,49.504950
1,"Washington, D.C.",District of Columbia,"""United States of America""",66.129032,49.107143
2,San Francisco,California,"""United States of America""",60.514019,43.000000
3,Berlin,,"""Germany""",62.364130,28.612717
4,Los Angeles,California,"""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,"""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,Andalusia,"""Spain""",85.714286,8.333333
3960,Vic,Catalonia,"""Spain""",100.000000,0.000000
3961,Segovia,Castile and Leon,"""Spain""",100.000000,0.000000
3962,Zamora city,Castile and Leon,"""Spain""",100.000000,50.000000

In [18]:
df['Country'] = df['Country'].map(lambda x: x.replace('"', "")) # Country ustuniga tegishli ma'lumotlardan " belgisini olib tashlash
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [19]:
df.to_csv("Updated_dataset.csv", index=False)

In [34]:
df[df['Country']=='Germany']

,City,Region,Country,AirQuality,WaterPollution
3,Berlin,,Germany,62.364130,28.612717
28,Cologne,North Rhine-Westphalia,Germany,60.714286,27.777778
40,Bonn,North Rhine-Westphalia,Germany,82.812500,22.500000
52,Heilbronn,Baden-Wurttemberg,Germany,80.000000,0.000000
76,Aachen,North Rhine-Westphalia,Germany,70.454545,17.857143
...,...,...,...,...,...
2693,Bad Waldsee,Baden-Wurttemberg,Germany,100.000000,50.000000
2714,Weilheim in Oberbayern,Bavaria,Germany,100.000000,50.000000
2727,Buckow,Brandenburg,Germany,87.500000,50.000000
3942,Erfurt,Thuringia,Germany,85.000000,50.000000
3943,Garmisch-Partenkirchen,Bavaria,Germany,100.000000,50.000000

In [33]:
df['Country'][2]

'United States of America'

In [35]:
df['Country'] = df['Country'].map(lambda x: x.strip()) # Country ustuniga tegishli ma'lumotlardan bo'sh belgi(whitespace)ni belgisini olib tashlash
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [36]:
df[df['Country']=='Germany'] # Germaniya mamlakatiga tegishli ma'lumotlarni chop qilish

,City,Region,Country,AirQuality,WaterPollution
3,Berlin,,Germany,62.364130,28.612717
28,Cologne,North Rhine-Westphalia,Germany,60.714286,27.777778
40,Bonn,North Rhine-Westphalia,Germany,82.812500,22.500000
52,Heilbronn,Baden-Wurttemberg,Germany,80.000000,0.000000
76,Aachen,North Rhine-Westphalia,Germany,70.454545,17.857143
...,...,...,...,...,...
2693,Bad Waldsee,Baden-Wurttemberg,Germany,100.000000,50.000000
2714,Weilheim in Oberbayern,Bavaria,Germany,100.000000,50.000000
2727,Buckow,Brandenburg,Germany,87.500000,50.000000
3942,Erfurt,Thuringia,Germany,85.000000,50.000000
3943,Garmisch-Partenkirchen,Bavaria,Germany,100.000000,50.000000

In [37]:
df[df['Country']=='Uzbekistan'] # O'zbekistonga tegishli ma'lumotlarni chop qilish

        City Region     Country  AirQuality  WaterPollution
21  Tashkent         Uzbekistan   56.451613       49.166667

In [38]:
df.to_csv("Updated_dataset.csv", index=False) # faylni saqlab qo'yish

### `pivot_table` orqali irarxik indekslash

In [39]:
df.index

RangeIndex(start=0, stop=3963, step=1)

In [40]:
df1 =  pd.pivot_table(df, index= ['Country', 'City']) # irarxik indeksli ma'lumotlar to'plamiga o'tish
df1

TypeError: agg function failed [how->mean,dtype->object]

In [30]:
df1.loc[['Uzbekistan', 'Germany', 'Tajikistan']] # Ba'zi davlatlarga tegishli ma'lumotlar

NameError: name 'df1' is not defined

### Ustunlarni irarxik ko'rinishga keltirish

In [ ]:
df2 = df1.copy()
df2

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000
...                          ...             ...
Zambia      Mansa      75.000000       25.000000
Zimbabwe    Bindura    50.000000       75.000000
            Bulawayo   67.857143       71.428571
            Harare     38.461538       87.500000
            Masvingo   25.000000       62.500000

[3895 rows x 2 columns]

In [ ]:
df2['AirPollution'] = 100-df2['AirQuality'] # AirPollution ustuniga teskari ko'rsatgichli ustun yaratish
df2

                      AirQuality  WaterPollution  AirPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000
            Farah     100.000000        0.000000      0.000000
            Herat      43.750000       31.250000     56.250000
            Kabul      18.421053       81.060606     81.578947
            Kandahar    0.000000       75.000000    100.000000
...                          ...             ...           ...
Zambia      Mansa      75.000000       25.000000     25.000000
Zimbabwe    Bindura    50.000000       75.000000     50.000000
            Bulawayo   67.857143       71.428571     32.142857
            Harare     38.461538       87.500000     61.538462
            Masvingo   25.000000       62.500000     75.000000

[3895 rows x 3 columns]

In [ ]:
df2['WaterQuality'] = 100-df2['WaterPollution'] # WaterQuality ustuniga teskari ko'rsatgichli ustun yaratish
df2

                      AirQuality  WaterPollution  AirPollution  WaterQuality
Country     City
Afghanistan Andkhoy    50.000000       50.000000     50.000000     50.000000
            Farah     100.000000        0.000000      0.000000    100.000000
            Herat      43.750000       31.250000     56.250000     68.750000
            Kabul      18.421053       81.060606     81.578947     18.939394
            Kandahar    0.000000       75.000000    100.000000     25.000000
...                          ...             ...           ...           ...
Zambia      Mansa      75.000000       25.000000     25.000000     75.000000
Zimbabwe    Bindura    50.000000       75.000000     50.000000     25.000000
            Bulawayo   67.857143       71.428571     32.142857     28.571429
            Harare     38.461538       87.500000     61.538462     12.500000
            Masvingo   25.000000       62.500000     75.000000     37.500000

[3895 rows x 4 columns]

## Irarxik ustunli ma'lumotlar to'plami

In [ ]:
df3 = pd.DataFrame(df2.values, index = df2.index, columns= [['AIR', 'AIR', 'WATER', 'WATER'], ['AirQuality', 'AirPollution', 'WaterQuality', 'WaterPollution']]) #
df3

                             AIR                     WATER
                      AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [ ]:
df3['AIR']

                      AirQuality  AirPollution
Country     City
Afghanistan Andkhoy    50.000000     50.000000
            Farah     100.000000      0.000000
            Herat      43.750000     31.250000
            Kabul      18.421053     81.060606
            Kandahar    0.000000     75.000000
...                          ...           ...
Zambia      Mansa      75.000000     25.000000
Zimbabwe    Bindura    50.000000     75.000000
            Bulawayo   67.857143     71.428571
            Harare     38.461538     87.500000
            Masvingo   25.000000     62.500000

[3895 rows x 2 columns]

In [ ]:
df3

                             AIR                     WATER
                      AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [ ]:
df3.columns.names = ['Object', 'Info'] #irarxik ustunlarga nom berish
df3

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

In [ ]:
df3.index.names # indeks nomlarini tekshirish

FrozenList(['Country', 'City'])

## Qayta tartiblash

In [ ]:
df3

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Afghanistan Andkhoy    50.000000    50.000000    50.000000      50.000000
            Farah     100.000000     0.000000     0.000000     100.000000
            Herat      43.750000    31.250000    56.250000      68.750000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Kandahar    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
Zimbabwe    Bindura    50.000000    75.000000    50.000000      25.000000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Harare     38.461538    87.500000    61.538462      12.500000
            Masvingo   25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

### `swaplevel`

In [ ]:
df3.swaplevel('Country', 'City') # irarxik indekslarni o'rnini almashtiradi

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
City     Country
Andkhoy  Afghanistan   50.000000    50.000000    50.000000      50.000000
Farah    Afghanistan  100.000000     0.000000     0.000000     100.000000
Herat    Afghanistan   43.750000    31.250000    56.250000      68.750000
Kabul    Afghanistan   18.421053    81.060606    81.578947      18.939394
Kandahar Afghanistan    0.000000    75.000000   100.000000      25.000000
...                          ...          ...          ...            ...
Mansa    Zambia        75.000000    25.000000    25.000000      75.000000
Bindura  Zimbabwe      50.000000    75.000000    50.000000      25.000000
Bulawayo Zimbabwe      67.857143    71.428571    32.142857      28.571429
Harare   Zimbabwe      38.461538    87.500000    61.538462      12.500000
Masvingo Zimbabwe      25.000000    62.500000    75.000000      37.500000

[3895 rows x 4 columns]

### `sort_index`

In [ ]:
df3.sort_index(level=0, ascending=False) # indekslarni tartiblash hamda ularning o'rnini almashtirish

Object                       AIR                     WATER
Info                  AirQuality AirPollution WaterQuality WaterPollution
Country     City
Zimbabwe    Masvingo   25.000000    62.500000    75.000000      37.500000
            Harare     38.461538    87.500000    61.538462      12.500000
            Bulawayo   67.857143    71.428571    32.142857      28.571429
            Bindura    50.000000    75.000000    50.000000      25.000000
Zambia      Mansa      75.000000    25.000000    25.000000      75.000000
...                          ...          ...          ...            ...
Afghanistan Kandahar    0.000000    75.000000   100.000000      25.000000
            Kabul      18.421053    81.060606    81.578947      18.939394
            Herat      43.750000    31.250000    56.250000      68.750000
            Farah     100.000000     0.000000     0.000000     100.000000
            Andkhoy    50.000000    50.000000    50.000000      50.000000

[3895 rows x 4 columns]