<a href="https://colab.research.google.com/github/abdulaziz2501/Edfix_vazifalari/blob/mohirdev/Fork_of_ds_praktikum_3_modul_2_amaliyot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
dansbecker_melbourne_housing_snapshot_path = kagglehub.dataset_download('dansbecker/melbourne-housing-snapshot')

print('Data source import complete.')

Data source import complete.

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/melbourne-housing-snapshot/melb_data.csv

## Avvalgi amaliyotda `GitHub`ga yuklangan `melb_data.csv` faylni `df` ga chaqirib oling

In [5]:
#Javobingizni shu yerga yozing
url="https://github.com/abdulaziz2501/Edfix_vazifalari/blob/mohirdev/melb_data.csv?raw=true"
df = pd.read_csv(url)
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

Yuqoridagi Dataframe Melburn shahri uchun sotuvdagi uylar haqida m'lumotlarni jamlagan.

Quyida jadvalning ba'zi sutunlari tarjimasi berilgan (qolganini o'zingiz Google yordamida tarjima qilishingiz mumkin):
- `Room` - xonalar soni
- `Type` - uyning turi (h - villa/kottej/hovli; u - kvartira; t - shahardagi hovli)
- `Price` - narx
- `Bathroom` - tualet-vanna
- `Landsize` - yerning maydoni (hovli uchun)
- `BuildingArea` - Bino qurilgan yerning maydoni
- `YearBuilt` - qurilgan yili
- `Lattitude` va `Longitude` - GPS kordinatalar
- `Regionname` - Region

# 🔺 DIQQAT!
#### **Agar alohida aytilmagan bo'lsa, `df`ga kiritilgan o'zgartirishlarni saqlamang (`inplace=False`)**

## 1-VAZIFA. `df` dagi barcha ustunlardagi`NaN` qiymatlar sonini chiqaring

In [7]:
#Javobingizni shu yerga yozing
df.isna().sum()

Unnamed: 0          0
Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

## 2-VAZIFA. `df` barcha `NaN` qiymatlarni 0 bilan almashtiring

In [9]:
#Javobingizni shu yerga yozing
df.fillna(0)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,0.0,0.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,0.0,0.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,2.0,652.0,0.0,1981.0,0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,2.0,333.0,133.0,1995.0,0,-37.85927,144.87904,Western Metropolitan,6380.0
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,2.0,4.0,436.0,0.0,1997.0,0,-37.85274,144.88738,Western Metropolitan,6380.0
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,0,-37.85908,144.89299,Western Metropolitan,6380.0
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,0,-37.81188,144.88449,Western Metropolitan,6543.0

## 3-VAZIFA. Quyidagi 2 ustun uchun o'rta qiymatlarni hisoblang:
- BuildingArea
- YearBuilt (**butun son qaytishi kerak**)

In [10]:
#Javobingizni shu yerga yozing
df[['BuildingArea', 'YearBuilt']].mean()

BuildingArea     151.967650
YearBuilt       1964.684217
dtype: float64

**To'g'ri javob:**

In [ ]:
print(df['BuildingArea'].mean())
print(int(df['YearBuilt'].mean()))

## 4-VAZIFA: `BuildingArea` va `YearBuilt` ustunlaridagi `NaN` qiymatlarni shu sutun uchun o'rta qiymatlar bilan almashtiring
**DIQQAT!** `YearBuilt` ustuni qiymatlari butun son bo'lishi kerak

In [11]:
#Javobingizni shu yerga yozing
df['BuildingArea'].fillna(df['BuildingArea'].mean())
df['YearBuilt'].fillna(df['YearBuilt'].mean())

0        1964.684217
1        1900.000000
2        1900.000000
3        1964.684217
4        2014.000000
            ...
13575    1981.000000
13576    1995.000000
13577    1997.000000
13578    1920.000000
13579    1920.000000
Name: YearBuilt, Length: 13580, dtype: float64

**To'g'ri javob:**

In [ ]:
df.fillna({'BuildingArea':df['BuildingArea'].mean(), 'YearBuilt':int(df['YearBuilt'].mean())})

## 5-VAZIFA. `.groupby()`
Ustun uchun o'rta qiymat har doim ham aniq bo'lavermaydi. Keling avval `YearBuilt` ustuni uchun aniqroq qiymat topishga harakat qilamiz.

Buning uchun `Regionname` ustuni qiymatlaridan foydalanishimiz mumkin, ya'ni bir Regiondagi binolar tahminan bir hil yillarda qurilgan deb tahmin qilsak bo'ladi.

### 5.1 `.groupby()` yordamida `df` qiymatlarini `Regionname` ustuni bo'yicha guruhlang va `YaerBuilt` ustuni uchun o'rta qiymatni hisoblang.

In [12]:
#Javobingizni shu yerga yozing
df.groupby('Regionname')['YearBuilt'].mean()

Regionname
Eastern Metropolitan          1971.859903
Eastern Victoria              1984.032258
Northern Metropolitan         1962.764286
Northern Victoria             1986.666667
South-Eastern Metropolitan    1976.859504
Southern Metropolitan         1960.523777
Western Metropolitan          1968.155192
Western Victoria              1982.565217
Name: YearBuilt, dtype: float64

**To'g'ri javob:**

In [ ]:
df.groupby(['Regionname']).YearBuilt.mean().astype(int)

### 5.2. `df` `YearBuilt` ustunidagi `NaN` qiymatlarni yuqoridagi qiymatlar bilan almashtiring.
`df[df.Regionname='Eastern Metropolitan']=...`

Har bir `Regionname` uchun qiymatlarni bittalab kiritmaslik uchun for siklidan foydalanishingiz mumkin.

In [13]:
#Javobingizni shu yerga yozing
region_year_mean = df.groupby('Regionname')['YearBuilt'].mean()
for i in region_year_mean.index:
   df[df.Regionname==i] = df[df.Regionname==i].fillna({'YearBuilt':region_year_mean[i]})

**To'g'ri javob**

In [ ]:
groups = df.groupby(['Regionname']).YearBuilt.mean() # Bu Series obyekti
for idx in groups.index:
   df[df.Regionname==idx] = df[df.Regionname==idx].fillna({'YearBuilt':groups[idx]})

### `YearBuilt` uchun yana ham aniqroq o'rta qiymat hisoblashning qanday yo'lini taklif qilgan bo'lar edingiz?

## 6-VAZIFA. `BuildingArea` ustunidagi `NaN` qiymatlarni to'ldiramiz
`BuildingArea` bino qurilgan yerning maydonini bildiradi. Bu qiymatlarni tahmin qilish uchun qaysi ustun qiymatlaridan foydalanish to'g'ri deb hisoblaysiz?

In [16]:
df.head()
# Rooms, Type, Price, Landsize ustunlaridan foydalanish BuildingArea ni tahmin qilishda yaxshi bo‘ladi.

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,1962.764286,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.000000,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.000000,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,1962.764286,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.000000,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

### 6.1 `df`ni xonalar soni bo'yicha o'rta qiymat olib ko'ring

In [24]:
#Javobingizni shu yerga yozing
rooms_mean = df.groupby('Rooms')['BuildingArea'].mean()
print(rooms_mean)

Rooms
1      52.618506
2      92.872142
3     139.147184
4     208.965073
5     405.607347
6     278.513889
7     340.423333
8     256.000000
10           NaN
Name: BuildingArea, dtype: float64

### 6.2 Xonalar va uy turi bo'yicha o'rta qiymatni olib ko'ring.

In [25]:
#Javobingizni shu yerga yozing
mean_values = df.groupby(['Rooms', 'Type'])['BuildingArea'].mean()
mean_values

Rooms  Type
1      h        85.400000
       t        70.714286
       u        50.181433
2      h       103.238231
       t       120.103632
       u        80.852963
3      h       141.511957
       t       137.620152
       u       117.998941
4      h       210.265265
       t       194.634184
       u       161.400000
5      h       407.745961
       t       159.666667
6      h       281.585714
       u       171.000000
7      h       340.423333
8      h       256.000000
       u              NaN
10     h              NaN
Name: BuildingArea, dtype: float64

### 6.3 Ahamiyat bering, 10 xonalik uylar uchun o'rta qiymat chiqmayapti. Bu nimadan dalolat beradi? Jami 10 xonalik uylar nechta? Ular bilan qanday yo'l tutishni maslahat berasiz?

In [41]:
#Javobingizni shu yerga yozing
print(df.Rooms.value_counts())
print(df[df.Rooms==10])
print("10 xonalik uylar 1 ta ekan. shuning uchun tepadagi usulga to'gri tushmaydi chuni u yerda Nan qiymatham mavjud agar u bo'lmaganda o'rta qiymat 1 chiqishi kerak edi menimcha.")

Rooms
3     5881
2     3648
4     2688
1      681
5      596
6       67
7       10
8        8
10       1
Name: count, dtype: int64
       Unnamed: 0    Suburb    Address  Rooms Type     Price Method SellerG  \
11304       11304  Bundoora  5 Ball Ct     10    h  900000.0     PI     Ray

             Date  Distance  ...  Bathroom  Car  Landsize  BuildingArea  \
11304  15/07/2017      12.1  ...       3.0  2.0     313.0           NaN

       YearBuilt  CouncilArea  Lattitude Longtitude             Regionname  \
11304     2006.0      Darebin  -37.71098  145.05381  Northern Metropolitan

       Propertycount
11304        10175.0

[1 rows x 22 columns]
10 xonalik uylar 1 ta ekan. shuning uchun tepadagi usulga to'gri tushmaydi chuni u yerda Nan qiymatham mavjud agar u bo'lmaganda o'rta qiymat 1 chiqishi kerak edi menimcha.

### 6.4 `BuildingArea` ustunidagi mavjud `NaN` qiymatlarni o'zingiz to'g'ri deb bilgan usul bilan to'ldiring.

In [58]:
group_means = df.groupby(['Price'])['BuildingArea'].mean()

def fill_building_area(row):
    if pd.isna(row['BuildingArea']):
        return group_means.get((row['Price']), row['BuildingArea'])
    else:
        return row['BuildingArea']

df['BuildingArea'] = df.apply(fill_building_area, axis=1)
print(df['BuildingArea'].isna().value_counts())
print("Shu yergacha faqat 675 ta NaN qiymat qoldi 5000 tadan endi yana boshqa usulda ishlaymiz. yani undan keyingi qiymatlarni o'z ichiga oladi.")
df['BuildingArea'].fillna(method='ffill', inplace=True)
df['BuildingArea'].isna().value_counts()

BuildingArea
False    13580
Name: count, dtype: int64
Shu yergacha faqat 675 ta NaN qiymat qoldi 5000 tadan endi yana boshqa usulda ishlaymiz. yani undan keyingi qiymatlarni o'z ichiga oladi.

<ipython-input-58-d1e93f4ae113>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BuildingArea'].fillna(method='ffill', inplace=True)
<ipython-input-58-d1e93f4ae113>:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['BuildingArea'].fillna(method='ffill', inplace=True)

BuildingArea
False    13580
Name: count, dtype: int64

### 7-VAZIFA. Yuqoridagi vazifalardan so'ng, bizda faqatgina `CouncilArea` ustunida `NaN` qiymatlar qolishi kerak xolos.
**Bu ustundagi `NaN` qiymatlarni avvalgi qatordagi qiymatlar bilan to'ldirib keting. Natijani saqlab qoling**

In [68]:
df['Car'].fillna(method='bfill', inplace=True)
df['CouncilArea'].fillna(method='ffill',  inplace=True)
df.isna().value_counts()

<ipython-input-68-db6a207e50b4>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Car'].fillna(method='bfill', inplace=True)
<ipython-input-68-db6a207e50b4>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Car'].fillna(method='bfill', inplace=True)
<ipython-input-68-db6a207e50b4>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['CouncilArea'].fillna(method='ffill',  inplace=True)

Unnamed: 0  Suburb  Address  Rooms  Type   Price  Method  SellerG  Date   Distance  Postcode  Bedroom2  Bathroom  Car    Landsize  BuildingArea  YearBuilt  CouncilArea  Lattitude  Longtitude  Regionname  Propertycount
False       False   False    False  False  False  False   False    False  False     False     False     False     False  False     False         False      False        False      False       False       False            13580
Name: count, dtype: int64

## YAKUNIY JADVAL
Ahamiyat bering, yakuniy jadvalda `NaN` qiymatlar bo'lmasligi kerak.

In [69]:
df

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,161.875000,1962.764286,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.000000,1900.000000,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.000000,1900.000000,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,132.949519,1962.764286,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.000000,2014.000000,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,2.0,652.0,152.750000,1981.000000,Maribyrnong,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,2.0,333.0,133.000000,1995.000000,Maribyrnong,-37.85927,144.87904,Western Metropolitan,6380.0
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,2.0,4.0,436.0,144.076923,1997.000000,Maribyrnong,-37.85274,144.88738,Western Metropolitan,6380.0
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.000000,1920.000000,Maribyrnong,-37.85908,144.89299,Western Metropolitan,6380.0
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.000000,1920.000000,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0